* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #070707;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#box {
    position: relative;
    animation-name: res;
    animation-duration: 2s;
    animation-delay: 100ms;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
    left:40%;
    top: 40%;
}

@keyframes res {
    0% {}
    25%{
        left :60%;
        top: 40%;
    }
    50%{
        left: 60%;
        top: 60%;
    }
    75% {
        left: 40%;
        top: 60%;
    }
    100% {
        left: 40%;
        top: 40%;
    }
}