body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 20px;

  background-color: darkslategray;
}

#box, #dragbox {
  height: 250px;
  width: 250px;
  background-color: yellowgreen;
  border-radius: 20px;
}