* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: #070707;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#hello::before {
    content: 'Hello'
}

#hello::after {
    content: ', I am Arjav'
}