@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen Mono', monospace;
}

body {
    background-color: #070707;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#hello::before {
    content: 'Hello';
    color: crimson;
}

#hello::after {
    content: ', I am Arjav';
    color:chocolate;
}


@keyframes textanim {
    0% {}
    100%{
        
    }
}